.button-small {
color:white;
border-radius:4px;
background-color:#DC7F9B;
border:0px;
padding:15px 20px;

}

.button-small {
  transition:0.3s;
}
.button-small:hover {

background-color:#C8748D;
transition:0.3s;
}
