.card-big {
 height: 450px;
 width:350px;
 position:relative;
 background-position: center;
 box-shadow: 0 2px 4px rgba(0,0,0,0.1), 0 4px 12px rgba(26, 26, 29, 0.08);
perspective: 1000px;
}

.card-big a {
color:white;
text-decoration:none;
font-family: $headers-font;
}

.card-big a:first-child  {
 font-size:32px;
}

.flex-name {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}

.card-text-bottom-right {
  position: absolute;
  right: 10px;
  bottom:10px;
}

.background-card:hover {
}


/* Playground */
